<h1> Products in Real Time </h1>

<div id="contProducts"></div>

<h2>Formulario productos nuevos</h2>

<form class="formulario">
    <input class="formInput" type="text" id="title" placeholder="Titulo">
    <input class="formInput" type="text" id="description" placeholder="Descripción">
    <input class="formInput" type="number" id="price" placeholder="Precio">
    <select class="formInput" id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <input class="formInput" type="text" id="thumbnails" value="sin Thumbnails">
    <input class="formInput" type="text" id="code" placeholder="Codigo">
    <input class="formInput" type="number" id="stock" placeholder="Stock">
    <input class="formInput" type="text" id="category" placeholder="Categoria">
    <button class="btn" type="button" id="btnEnv"> Enviar </button>
</form>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>